body {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	width: 100%;
	height: 100%:
}

a {color:#0000FF;}      /* unvisited link */
a:visited {color:#0000FF;}  /* visited link */

a:active,
a:focus {
	outline: none;
}

p {
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}

#contacts_content {
	width: 911px;
	height: 568px;
	background-image: url("../img/contacts_bg.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
	margin: 0 auto;
	position:relative;
}

#workshop_image_container {
	position: relative;
	height: 220px;
}


.workshop_image {
	width: 908px;
	height: 220px;
	position: absolute;
}

.workshop_image.hidden {
	display: none;
}

.workshop_image.visible {
}

#workshop_description p {
	text-align: left;
}

#main_container,
#gallery {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
}

.not_implemented_yet {
	text-align: center;
	margin-top: 200px;
	margin-bottom: 150px;
}

#gallery {
	z-index: 10;
	background: rgba(0, 0, 0, 0.85);
	height: 100%;
	display: none;
	text-align: center;
}

#gallery #content {
	position: absolute;
	top: 61px;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 4;
	margin: auto;
}

#gallery .album img {
	display: none;
}

#image_container {
	position: relative;
	margin: 0 auto;
}

#image_content {
	position: absolute;
	width: 100%;
	text-align: center;
}

#image_caption {
	position: absolute;
	text-align: left;
	top: 0;
	left: 0;
	max-width: 30%;
}

#image_caption p {
	background-color: rgba(100, 100, 100, 0.8);
	padding: 10px 10px 10px 10px;
	font-size: 10pt;
}

.album {
	margin: 0 auto;
}

.album img {
	max-height: 66px;
	max-width: 110px;
	margin: 6px;
	margin-top: 22px;
	cursor: pointer;
}

header nav  {
	display: block;
	margin: 0 auto 0 auto;
	text-align: center;
}

header nav {
	width: 770px;
}

header {
	z-index: 1;
	position: relative;
	pointer-events: none;
}

.nav-item {
	padding-top: 22px;
	position: relative;
}

nav a {
	display: inline-block;
	pointer-events: auto;
}

.nav-item a {
	color: black;
	text-decoration: none;
	position: absolute;
	top: 55px;
	left: 22px;
}

.nav-item img {
	visibility: hidden;
}

.nav-item:hover img {
	visibility: visible; 
}

.logo_container {
	display: inline-block;
}

#main_table {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 0;
}

.art_elem a {
	display: inline-block;
	position: relative;
}

.art_bg {
	display: block;
}

.art_fg {
	visibility: hidden;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

.art_elem:hover .art_fg {
	visibility: visible;
}

footer {
	width: 100%;
}

footer #socials {
	margin: 0 auto;
}

#contacts_footer {
	position: absolute;
	bottom: 0;
	margin-bottom: 22px;
}

#contact_info {
	padding-top: 176px;
}

#contact_info p {
	text-align: center;
	vertical-align: middle;
}

.social {
	position: relative;
}

.social_fg {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.social:hover .social_bg {
	visibility: hidden;	
}

.social:hover .social_fg {
	visibility: visible;
}

.text {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	text-decoration: none;
}

.text .ukr,
.text .ukr1,
.text .ukr2 {
	color: #482b1f;
}

.text .eng, 
.text .eng1 {
	color: white;
}

.text p {
	margin: 0;
}

#sculpture .text {
	margin-top: 55px;
	margin-left: 44px;
}

#sculpture .text .eng {
	margin-left: 39px;
	margin-top: 22px;
}

#wpaint .text {
	margin-top: 94px;	
	margin-left: 55px;
}

#wpaint .text .eng {
	margin-top: 11px;
	margin-left: 72px;
}

#wpaint .text .ukr1 {
	margin-left: 11px;
}

#wpaint .text .eng1 {
	margin-left: 66px;
}

#painting .text {
	margin-left: 44px;	
	margin-top: 77px;
}

#painting .text .ukr {
	margin-left: 66px;
}

#painting .text .eng1 {
	margin-top: 17px;
	margin-left: 39px;
}

#molding .text {
	margin-top: 44px;
	margin-left: 50px;
}

#molding .text .ukr {
	margin-left: 61px;
}

#molding .text .eng {
	margin-left: 72px;
}

#molding .text .ukr1 {
	margin-top: 17px;
}

#molding .text .eng1 {
	margin-left: 44px;
}

#graphics .text {
	margin-left: 72px;
	margin-top: 77px;
}

#graphics .text .eng {
	margin-left: 28px;
	margin-top: 11px;
}

#design .text {
	margin-top: 83px;
	margin-left: 50px;
}

#design .text .ukr {
	margin-left: 17px;
	margin-bottom: 6px;
}

#art .text {
	margin-top: 44px;
	margin-left: 39px;
}

#art .text .ukr {
	margin-left: 61px;
	margin-bottom: 11px;
}

#art .text .ukr1 {
	margin-left: 17px;
	margin-bottom: 11px;
}

#creative_bee .text {
	margin-top: 39px;
	margin-left: 17px;
}

#creative_bee .text .ukr1 {
	margin-top: 22px;
	margin-left: 61px;
}

#creative_bee .text .eng {
	margin-top: 6px;
	margin-left: 75px;
}

#creative_bee .text .eng1 {
	margin-top: 6px;
	margin-left: 39px;
}

@media screen and (max-width: 2560px) {

	header nav {
		width: 770px;
	}

	.logo_container img {
		margin-top: -44px;
		width: 226px;
		height: 225px;
	}

	.art_elem img {
		width: 220px;
		height: 220px;
	}

	.social .social_bg {
		width: 44px;
		height: 44px;
	}

	.social .social_fg {
		width: 50px;
		height: 50px;
	}

	#main_table {
		margin-top: -99px;
		width: 908px;
	}

	#main_table .row {
		margin-top: 4px;
	}

	#socials {
		width: 282px;
	}

	#image_container {
		height: 473px;
	}

	#big_image {
		max-height: 473px;
	}
} 
