body {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	width: 100%;
	height: 100%:
}

a:active,
a:focus {
	outline: none;
}

#main_container,
#gallery {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
}

#gallery {
	z-index: 10;
	background: rgba(0, 0, 0, 0.8);
	height: 100%;
	display: none;
	text-align: center;
}

#gallery #content {
	position: absolute;
	top: 60px;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 4;
	margin: auto;
}

#gallery .album img {
	display: none;
}

#image_container {
	position: relative;
	margin: 0 auto;
	height: 430px;
}

#big_image {
	max-height: 430px;
}

.album {
	margin: 0 auto;
}

.album img {
	max-height: 100px;
	max-width: 100px;
	margin: 5px;
	cursor: pointer;
}

header nav  {
	display: block;
	margin: 0 auto 0 auto;
	text-align: center;
	width: 700px;
}

header {
	z-index: 1;
	position: relative;
	pointer-events: none;
}

.nav-item {
	padding-top: 20px;
	position: relative;
}

nav a {
	display: inline-block;
	pointer-events: auto;
}

.nav-item a {
	color: black;
	text-decoration: none;
	position: absolute;
	top: 50px;
	left: 20px;
}

.nav-item img {
	visibility: hidden;
}

.nav-item:hover img {
	visibility: visible; 
}

.logo_container {
	display: inline-block;
}

.logo_container img {
	margin-top: -33px;
	width: 205px;
	height: 204px;
}

#main_table {
	margin: -90px auto;
	position: relative;
	z-index: 0;
}

.art_elem a {
	display: inline-block;
	position: relative;
}

.art_bg {
	display: block;
}

.art_fg {
	visibility: hidden;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

.art_elem:hover .art_fg {
	visibility: visible;
}

footer {
	width: 100%;
	position: relative;
	margin-top: 150px;
}

footer #socials {
	margin: 0 auto;
}

.social {
	position: relative;
}

.social_fg {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.social:hover .social_bg {
	visibility: hidden;	
}

.social:hover .social_fg {
	visibility: visible;
}

.text {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	text-decoration: none;
}

.text .ukr,
.text .ukr1,
.text .ukr2 {
	color: #482b1f;
}

.text .eng, 
.text .eng1 {
	color: white;
}

.text p {
	margin: 0;
}

#sculpture .text {
	margin-top: 50px;
	margin-left: 40px;
}

#sculpture .text .eng {
	margin-left: 35px;
	margin-top: 20px;
}

#wpaint .text {
	margin-top: 85px;	
	margin-left: 50px;
}

#wpaint .text .eng {
	margin-top: 10px;
	margin-left: 65px;
}

#wpaint .text .ukr1 {
	margin-left: 10px;
}

#wpaint .text .eng1 {
	margin-left: 60px;
}

#painting .text {
	margin-left: 40px;	
	margin-top: 70px;
}

#painting .text .ukr {
	margin-left: 60px;
}

#painting .text .eng1 {
	margin-top: 15px;
	margin-left: 35px;
}

#molding .text {
	margin-top: 40px;
	margin-left: 45px;
}

#molding .text .ukr {
	margin-left: 55px;
}

#molding .text .eng {
	margin-left: 65px;
}

#molding .text .ukr1 {
	margin-top: 15px;
}

#molding .text .eng1 {
	margin-left: 40px;
}

#graphics .text {
	margin-left: 65px;
	margin-top: 70px;
}

#graphics .text .eng {
	margin-left: 25px;
	margin-top: 10px;
}

#design .text {
	margin-top: 75px;
	margin-left: 45px;
}

#design .text .ukr {
	margin-left: 15px;
	margin-bottom: 5px;
}

#art .text {
	margin-top: 40px;
	margin-left: 35px;
}

#art .text .ukr {
	margin-left: 55px;
	margin-bottom: 10px;
}

#art .text .ukr1 {
	margin-left: 15px;
	margin-bottom: 10px;
}

#creative_bee .text {
	margin-top: 35px;
	margin-left: 15px;
}

#creative_bee .text .ukr1 {
	margin-top: 20px;
	margin-left: 55px;
}

#creative_bee .text .eng {
	margin-top: 5px;
	margin-left: 75px;
}

#creative_bee .text .eng1 {
	margin-top: 5px;
	margin-left: 35px;
}

@media screen and (max-width: 2560px) {
	.art_elem img {
		width: 300px;
		height: 300px;
	}
	
	.social .social_bg {
		width: 60px;
		height: 60px;
	}

	.social .social_fg {
		width: 68px;
		height: 68px;
	}
	
	#main_table {
		width: 1240px;
	}
	
	#socials {
		width: 390px;
	}
}

@media screen and (max-width: 1600px) {
	.art_elem img {
		width: 200px;
		height: 200px;
	}

	.social .social_bg {
		width: 40px;
		height: 40px;
	}

	.social .social_fg {
		width: 45px;
		height: 45px;
	}

	#main_table {
		width: 825px;
	}

	#socials {
		width: 260px;
	}
}

